
[textdomain]
    name="wesnoth-Anabasis"
    path="data/add-ons/Anabasis/translations"
[/textdomain]

#textdomain wesnoth-Anabasis

# wmllint: directory spelling ANABASIS

[campaign]
    id=Anabasis
    name=_ "Anabasis"
    abbrev=_"ANABASIS"
    define=ANABASIS
    difficulties=EASY,NORMAL,HARD
    difficulty_descriptions={MENU_IMG_TXT "data/add-ons/Anabasis/images/units/khalifate/arif.png~RC(magenta>red)" _"Easy"} +
    ";*" + {MENU_IMG_TXT "data/add-ons/Anabasis/images/units/khalifate/ghazi.png~RC(magenta>red)" _"Normal"} +
    ";"  + {MENU_IMG_TXT "data/add-ons/Anabasis/images/units/khalifate/shuja.png~RC(magenta>red)" _"Hard"}
    icon=data/add-ons/Anabasis/images/units/khalifate/mufariq.png
    image=data/add-ons/Anabasis/images/portraits/hakim.png
    description= _ "You are Xenophon, a khalifa historian eager to see the world and record its wonders in writing. You were thrilled to accompany general Clearchus on a campaign to the foreign land of Wesnoth. Little did you know that you would soon have a larger part in the expedition than you had bargained for…"
    first_scenario=01_Phyrrian_Victory
[/campaign]

#ifdef ANABASIS

[binary_path]
    path=data/add-ons/Anabasis/
[/binary_path]

# bigmaps were introduced in 1.11.2
#ifver WESNOTH_VERSION < 1.11.2
    {~add-ons/Anabasis/utils/track-north-old.cfg}
#else
    {~add-ons/Anabasis/utils/track-north.cfg}
#endif
# {~add-ons/Anabasis/utils/track-khalifa.cfg}

# Khalifate were temporarily removed from mainline
#ifver WESNOTH_VERSION > 1.9.9
#ifver WESNOTH_VERSION < 1.11.8
    #define OWN_KHALIFATE
    #enddef
    {~add-ons/Anabasis/utils/khalifate_macros.cfg}
    [+units]
        {~add-ons/Anabasis/units/khalifate}
    [/units]
#endif
#endif


{~add-ons/Anabasis/utils/story_macros.cfg}

{~add-ons/Anabasis/scenarios}

#endif
