#textdomain wesnoth-Anabasis

# macros containing the story parts for each scenario

#define 01_STORY
    [story]
        [part]
            story= _ "When fort Than was built and we reestablished contacts with the people of Wesnoth, we were eager to hear of our brethren. While we grudgingly acknowledged that they still practiced magic, at least we found common ground in the ban of the most disgusting of the forbidden arts, necromancy."
        [/part]
        [part]
            story= _ "Thus, when Prince Eldred called for our help against a horde of undead invading his kingdom, we gathered a thousand men and marched for Wesnoth. After all, Eldred was a friend of the Khalifate who had given us trading privileges and a considerable amount of gold during the last years. Our army split into three detachments travelling separately along the desert roads from oasis to oasis in order to prevent attrition."
            {ANA_WESNOTH_MAP}
            {JOURNEY_STAGE1}
        [/part]
        [part]
            story= _ "But when we met the Wesnothians, they had bitter news: King Garard had been slain in a battle against the orcs, and his mage-counsellor Delfador seized the opportunity: He had fielded am army against Eldred and taken his capital, Weldyn."
            {ANA_WESNOTH_MAP}
            {JOURNEY_STAGE1_END}
        [/part]
        [part]
            story= _ "As much as we disliked the thought of killing fellow humans, we couldn't let Wesnoth fall to one of these corrupted mages!"
            background=portraits/delfador-mad.png
        [/part]
    [/story]
    {ANABASIS_WE_TRACK {JOURNEY_STAGE2}}
#enddef
