#define ANA_WESNOTH_MAP
    [background_layer]
        image=maps/background.jpg
        scale_vertically=yes
        scale_horizontally=no
        keep_aspect_ratio=yes
    [/background_layer]
    [background_layer]
        image=maps/titlescreen.png
        scale_vertically=yes
        scale_horizontally=no
        keep_aspect_ratio=yes
        base_layer=yes
    [/background_layer]
#enddef

#define ANABASIS_WE_TRACK STAGE
[story]
    [part]
        show_title=yes
        {ANA_WESNOTH_MAP}
        {STAGE}
    [/part]
[/story]
#enddef

# trackplacer: tracks begin
#
# Hand-hack this section strictly at your own risk.
#
#
# wmllint: no translatables

# trackplacer: map=data/core/images/maps/titlescreen.png
#
#define JOURNEY_STAGE1
    {NEW_JOURNEY 514 841}
    {NEW_JOURNEY 507 824}
    {NEW_REST 503 797}
#enddef

#define JOURNEY_STAGE1_END
    {OLD_JOURNEY 514 841}
    {OLD_JOURNEY 507 824}
    {NEW_REST 503 797}
#enddef

#define JOURNEY_STAGE2
    {OLD_JOURNEY 514 841}
    {OLD_JOURNEY 507 824}
    {OLD_REST 503 797}
    {NEW_JOURNEY 496 773}
    {NEW_JOURNEY 496 754}
    {NEW_JOURNEY 495 731}
    {NEW_JOURNEY 488 711}
    {NEW_JOURNEY 481 681}
    {NEW_JOURNEY 475 646}
    {NEW_JOURNEY 488 620}
    {NEW_JOURNEY 525 611}
    {NEW_JOURNEY 553 593}
    {NEW_JOURNEY 603 590}
    {NEW_JOURNEY 637 594}
    {NEW_JOURNEY 663 615}
    {NEW_JOURNEY 691 639}
    {NEW_BATTLE 735 643}
#enddef

#define JOURNEY_STAGE2_END
    {OLD_JOURNEY 514 841}
    {OLD_JOURNEY 507 824}
    {OLD_REST 503 797}
    {OLD_JOURNEY 496 773}
    {OLD_JOURNEY 496 754}
    {OLD_JOURNEY 495 731}
    {OLD_JOURNEY 488 711}
    {OLD_JOURNEY 481 681}
    {OLD_JOURNEY 475 646}
    {OLD_JOURNEY 488 620}
    {OLD_JOURNEY 525 611}
    {OLD_JOURNEY 553 593}
    {OLD_JOURNEY 603 590}
    {OLD_JOURNEY 637 594}
    {OLD_JOURNEY 663 615}
    {OLD_JOURNEY 691 639}
    {NEW_BATTLE 735 643}
#enddef

#define JOURNEY_COMPLETE
    {OLD_JOURNEY 514 841}
    {OLD_JOURNEY 507 824}
    {OLD_REST 503 797}
    {OLD_JOURNEY 496 773}
    {OLD_JOURNEY 496 754}
    {OLD_JOURNEY 495 731}
    {OLD_JOURNEY 488 711}
    {OLD_JOURNEY 481 681}
    {OLD_JOURNEY 475 646}
    {OLD_JOURNEY 488 620}
    {OLD_JOURNEY 525 611}
    {OLD_JOURNEY 553 593}
    {OLD_JOURNEY 603 590}
    {OLD_JOURNEY 637 594}
    {OLD_JOURNEY 663 615}
    {OLD_JOURNEY 691 639}
    {OLD_BATTLE 735 643}
#enddef

#define ELENSEFAR_STAGE1
    {NEW_JOURNEY 710 634}
    {NEW_JOURNEY 684 622}
    {NEW_JOURNEY 658 597}
    {NEW_JOURNEY 632 577}
    {NEW_BATTLE 608 564}
#enddef

#define ELENSEFAR_STAGE1_END
    {OLD_JOURNEY 710 634}
    {OLD_JOURNEY 684 622}
    {OLD_JOURNEY 658 597}
    {OLD_JOURNEY 632 577}
    {NEW_BATTLE 608 564}
#enddef

#define ELENSEFAR_STAGE2
    {OLD_JOURNEY 710 634}
    {OLD_JOURNEY 684 622}
    {OLD_JOURNEY 658 597}
    {OLD_JOURNEY 632 577}
    {OLD_BATTLE 608 564}
    {NEW_JOURNEY 616 548}
    {NEW_JOURNEY 636 523}
    {NEW_JOURNEY 645 495}
    {NEW_JOURNEY 643 464}
    {NEW_JOURNEY 629 440}
    {NEW_REST 618 417}
#enddef

#define ELENSEFAR_STAGE2_END
    {OLD_JOURNEY 710 634}
    {OLD_JOURNEY 684 622}
    {OLD_JOURNEY 658 597}
    {OLD_JOURNEY 632 577}
    {OLD_BATTLE 608 564}
    {OLD_JOURNEY 616 548}
    {OLD_JOURNEY 636 523}
    {OLD_JOURNEY 645 495}
    {OLD_JOURNEY 643 464}
    {OLD_JOURNEY 629 440}
    {NEW_REST 618 417}
#enddef

#define ELENSEFAR_STAGE3
    {OLD_JOURNEY 710 634}
    {OLD_JOURNEY 684 622}
    {OLD_JOURNEY 658 597}
    {OLD_JOURNEY 632 577}
    {OLD_BATTLE 608 564}
    {OLD_JOURNEY 616 548}
    {OLD_JOURNEY 636 523}
    {OLD_JOURNEY 645 495}
    {OLD_JOURNEY 643 464}
    {OLD_JOURNEY 629 440}
    {OLD_REST 618 417}
    {NEW_JOURNEY 601 425}
    {NEW_JOURNEY 585 421}
    {NEW_BATTLE 573 422}
#enddef

#define ELENSEFAR_STAGE3_END
    {OLD_JOURNEY 710 634}
    {OLD_JOURNEY 684 622}
    {OLD_JOURNEY 658 597}
    {OLD_JOURNEY 632 577}
    {OLD_BATTLE 608 564}
    {OLD_JOURNEY 616 548}
    {OLD_JOURNEY 636 523}
    {OLD_JOURNEY 645 495}
    {OLD_JOURNEY 643 464}
    {OLD_JOURNEY 629 440}
    {OLD_REST 618 417}
    {OLD_JOURNEY 601 425}
    {OLD_JOURNEY 585 421}
    {NEW_BATTLE 573 422}
#enddef

#define ELENSEFAR_STAGE4
    {OLD_JOURNEY 710 634}
    {OLD_JOURNEY 684 622}
    {OLD_JOURNEY 658 597}
    {OLD_JOURNEY 632 577}
    {OLD_BATTLE 608 564}
    {OLD_JOURNEY 616 548}
    {OLD_JOURNEY 636 523}
    {OLD_JOURNEY 645 495}
    {OLD_JOURNEY 643 464}
    {OLD_JOURNEY 629 440}
    {OLD_REST 618 417}
    {OLD_JOURNEY 601 425}
    {OLD_JOURNEY 585 421}
    {OLD_BATTLE 573 422}
    {NEW_JOURNEY 551 427}
    {NEW_JOURNEY 531 438}
    {NEW_JOURNEY 508 453}
    {NEW_JOURNEY 491 465}
    {NEW_BATTLE 463 470}
#enddef

#define ELENSEFAR_STAGE4_END
    {OLD_JOURNEY 710 634}
    {OLD_JOURNEY 684 622}
    {OLD_JOURNEY 658 597}
    {OLD_JOURNEY 632 577}
    {OLD_BATTLE 608 564}
    {OLD_JOURNEY 616 548}
    {OLD_JOURNEY 636 523}
    {OLD_JOURNEY 645 495}
    {OLD_JOURNEY 643 464}
    {OLD_JOURNEY 629 440}
    {OLD_REST 618 417}
    {OLD_JOURNEY 601 425}
    {OLD_JOURNEY 585 421}
    {OLD_BATTLE 573 422}
    {OLD_JOURNEY 551 427}
    {OLD_JOURNEY 531 438}
    {OLD_JOURNEY 508 453}
    {OLD_JOURNEY 491 465}
    {NEW_BATTLE 463 470}
#enddef

#define ELENSEFAR_STAGE5
    {OLD_JOURNEY 710 634}
    {OLD_JOURNEY 684 622}
    {OLD_JOURNEY 658 597}
    {OLD_JOURNEY 632 577}
    {OLD_BATTLE 608 564}
    {OLD_JOURNEY 616 548}
    {OLD_JOURNEY 636 523}
    {OLD_JOURNEY 645 495}
    {OLD_JOURNEY 643 464}
    {OLD_JOURNEY 629 440}
    {OLD_REST 618 417}
    {OLD_JOURNEY 601 425}
    {OLD_JOURNEY 585 421}
    {OLD_BATTLE 573 422}
    {OLD_JOURNEY 551 427}
    {OLD_JOURNEY 531 438}
    {OLD_JOURNEY 508 453}
    {OLD_JOURNEY 491 465}
    {OLD_BATTLE 463 470}
    {NEW_JOURNEY 442 455}
    {NEW_JOURNEY 420 445}
    {NEW_JOURNEY 394 437}
    {NEW_JOURNEY 369 442}
    {NEW_REST 342 461}
#enddef

#define ELENSEFAR_STAGE5_END
    {OLD_JOURNEY 710 634}
    {OLD_JOURNEY 684 622}
    {OLD_JOURNEY 658 597}
    {OLD_JOURNEY 632 577}
    {OLD_BATTLE 608 564}
    {OLD_JOURNEY 616 548}
    {OLD_JOURNEY 636 523}
    {OLD_JOURNEY 645 495}
    {OLD_JOURNEY 643 464}
    {OLD_JOURNEY 629 440}
    {OLD_REST 618 417}
    {OLD_JOURNEY 601 425}
    {OLD_JOURNEY 585 421}
    {OLD_BATTLE 573 422}
    {OLD_JOURNEY 551 427}
    {OLD_JOURNEY 531 438}
    {OLD_JOURNEY 508 453}
    {OLD_JOURNEY 491 465}
    {OLD_BATTLE 463 470}
    {OLD_JOURNEY 442 455}
    {OLD_JOURNEY 420 445}
    {OLD_JOURNEY 394 437}
    {OLD_JOURNEY 369 442}
    {NEW_REST 342 461}
#enddef

#define ELENSEFAR_STAGE6
    {OLD_JOURNEY 710 634}
    {OLD_JOURNEY 684 622}
    {OLD_JOURNEY 658 597}
    {OLD_JOURNEY 632 577}
    {OLD_BATTLE 608 564}
    {OLD_JOURNEY 616 548}
    {OLD_JOURNEY 636 523}
    {OLD_JOURNEY 645 495}
    {OLD_JOURNEY 643 464}
    {OLD_JOURNEY 629 440}
    {OLD_REST 618 417}
    {OLD_JOURNEY 601 425}
    {OLD_JOURNEY 585 421}
    {OLD_BATTLE 573 422}
    {OLD_JOURNEY 551 427}
    {OLD_JOURNEY 531 438}
    {OLD_JOURNEY 508 453}
    {OLD_JOURNEY 491 465}
    {OLD_BATTLE 463 470}
    {OLD_JOURNEY 442 455}
    {OLD_JOURNEY 420 445}
    {OLD_JOURNEY 394 437}
    {OLD_JOURNEY 369 442}
    {OLD_REST 342 461}
    {NEW_JOURNEY 342 441}
    {NEW_JOURNEY 339 424}
    {NEW_JOURNEY 331 400}
    {NEW_BATTLE 322 375}
#enddef

#define ELENSEFAR_STAGE6_END
    {OLD_JOURNEY 710 634}
    {OLD_JOURNEY 684 622}
    {OLD_JOURNEY 658 597}
    {OLD_JOURNEY 632 577}
    {OLD_BATTLE 608 564}
    {OLD_JOURNEY 616 548}
    {OLD_JOURNEY 636 523}
    {OLD_JOURNEY 645 495}
    {OLD_JOURNEY 643 464}
    {OLD_JOURNEY 629 440}
    {OLD_REST 618 417}
    {OLD_JOURNEY 601 425}
    {OLD_JOURNEY 585 421}
    {OLD_BATTLE 573 422}
    {OLD_JOURNEY 551 427}
    {OLD_JOURNEY 531 438}
    {OLD_JOURNEY 508 453}
    {OLD_JOURNEY 491 465}
    {OLD_BATTLE 463 470}
    {OLD_JOURNEY 442 455}
    {OLD_JOURNEY 420 445}
    {OLD_JOURNEY 394 437}
    {OLD_JOURNEY 369 442}
    {OLD_REST 342 461}
    {OLD_JOURNEY 342 441}
    {OLD_JOURNEY 339 424}
    {OLD_JOURNEY 331 400}
    {NEW_BATTLE 322 375}
#enddef

#define ELENSEFAR_COMPLETE
    {OLD_JOURNEY 710 634}
    {OLD_JOURNEY 684 622}
    {OLD_JOURNEY 658 597}
    {OLD_JOURNEY 632 577}
    {OLD_BATTLE 608 564}
    {OLD_JOURNEY 616 548}
    {OLD_JOURNEY 636 523}
    {OLD_JOURNEY 645 495}
    {OLD_JOURNEY 643 464}
    {OLD_JOURNEY 629 440}
    {OLD_REST 618 417}
    {OLD_JOURNEY 601 425}
    {OLD_JOURNEY 585 421}
    {OLD_BATTLE 573 422}
    {OLD_JOURNEY 551 427}
    {OLD_JOURNEY 531 438}
    {OLD_JOURNEY 508 453}
    {OLD_JOURNEY 491 465}
    {OLD_BATTLE 463 470}
    {OLD_JOURNEY 442 455}
    {OLD_JOURNEY 420 445}
    {OLD_JOURNEY 394 437}
    {OLD_JOURNEY 369 442}
    {OLD_REST 342 461}
    {OLD_JOURNEY 342 441}
    {OLD_JOURNEY 339 424}
    {OLD_JOURNEY 331 400}
    {OLD_BATTLE 322 375}
#enddef

#define HOME_STAGE1
    {NEW_JOURNEY 294 363}
    {NEW_JOURNEY 266 375}
    {NEW_JOURNEY 249 397}
    {NEW_JOURNEY 234 419}
    {NEW_BATTLE 231 445}
#enddef

#define HOME_STAGE1_END
    {OLD_JOURNEY 294 363}
    {OLD_JOURNEY 266 375}
    {OLD_JOURNEY 249 397}
    {OLD_JOURNEY 234 419}
    {NEW_BATTLE 231 445}
#enddef

#define HOME_STAGE2
    {OLD_JOURNEY 294 363}
    {OLD_JOURNEY 266 375}
    {OLD_JOURNEY 249 397}
    {OLD_JOURNEY 234 419}
    {OLD_BATTLE 231 445}
    {NEW_JOURNEY 229 466}
    {NEW_JOURNEY 223 486}
    {NEW_JOURNEY 214 509}
    {NEW_JOURNEY 207 533}
    {NEW_JOURNEY 206 555}
    {NEW_JOURNEY 214 585}
    {NEW_JOURNEY 218 610}
    {NEW_BATTLE 212 634}
#enddef

#define HOME_STAGE2_END
    {OLD_JOURNEY 294 363}
    {OLD_JOURNEY 266 375}
    {OLD_JOURNEY 249 397}
    {OLD_JOURNEY 234 419}
    {OLD_BATTLE 231 445}
    {OLD_JOURNEY 229 466}
    {OLD_JOURNEY 223 486}
    {OLD_JOURNEY 214 509}
    {OLD_JOURNEY 207 533}
    {OLD_JOURNEY 206 555}
    {OLD_JOURNEY 214 585}
    {OLD_JOURNEY 218 610}
    {NEW_BATTLE 212 634}
#enddef

#define HOME_STAGE3
    {OLD_JOURNEY 294 363}
    {OLD_JOURNEY 266 375}
    {OLD_JOURNEY 249 397}
    {OLD_JOURNEY 234 419}
    {OLD_BATTLE 231 445}
    {OLD_JOURNEY 229 466}
    {OLD_JOURNEY 223 486}
    {OLD_JOURNEY 214 509}
    {OLD_JOURNEY 207 533}
    {OLD_JOURNEY 206 555}
    {OLD_JOURNEY 214 585}
    {OLD_JOURNEY 218 610}
    {OLD_BATTLE 212 634}
    {NEW_JOURNEY 200 659}
    {NEW_JOURNEY 178 669}
    {NEW_JOURNEY 152 681}
    {NEW_JOURNEY 126 701}
    {NEW_JOURNEY 102 717}
    {NEW_JOURNEY 82 739}
    {NEW_JOURNEY 84 771}
    {NEW_JOURNEY 80 803}
    {NEW_JOURNEY 69 835}
#enddef

#define HOME_STAGE3_END
    {OLD_JOURNEY 294 363}
    {OLD_JOURNEY 266 375}
    {OLD_JOURNEY 249 397}
    {OLD_JOURNEY 234 419}
    {OLD_BATTLE 231 445}
    {OLD_JOURNEY 229 466}
    {OLD_JOURNEY 223 486}
    {OLD_JOURNEY 214 509}
    {OLD_JOURNEY 207 533}
    {OLD_JOURNEY 206 555}
    {OLD_JOURNEY 214 585}
    {OLD_JOURNEY 218 610}
    {OLD_BATTLE 212 634}
    {OLD_JOURNEY 200 659}
    {OLD_JOURNEY 178 669}
    {OLD_JOURNEY 152 681}
    {OLD_JOURNEY 126 701}
    {OLD_JOURNEY 102 717}
    {OLD_JOURNEY 82 739}
    {OLD_JOURNEY 84 771}
    {OLD_JOURNEY 80 803}
    {NEW_JOURNEY 69 835}
#enddef

#define HOME_COMPLETE
    {OLD_JOURNEY 294 363}
    {OLD_JOURNEY 266 375}
    {OLD_JOURNEY 249 397}
    {OLD_JOURNEY 234 419}
    {OLD_BATTLE 231 445}
    {OLD_JOURNEY 229 466}
    {OLD_JOURNEY 223 486}
    {OLD_JOURNEY 214 509}
    {OLD_JOURNEY 207 533}
    {OLD_JOURNEY 206 555}
    {OLD_JOURNEY 214 585}
    {OLD_JOURNEY 218 610}
    {OLD_BATTLE 212 634}
    {OLD_JOURNEY 200 659}
    {OLD_JOURNEY 178 669}
    {OLD_JOURNEY 152 681}
    {OLD_JOURNEY 126 701}
    {OLD_JOURNEY 102 717}
    {OLD_JOURNEY 82 739}
    {OLD_JOURNEY 84 771}
    {OLD_JOURNEY 80 803}
    {OLD_JOURNEY 69 835}
#enddef

# trackplacer: tracks end
